html
  body
    //
       
        Create tabs with an icon and label, using the tabs-positive style. 
        Each tab's child <nav-view> directive will have its own 
        navigation history that also transitions its views in and out.
    ion-tabs.tabs-icon-top.tabs-default.tabs-positive
      // Pets Tab
      ion-tab(title='Pets', icon='icon ion-home', href='#/tab/pets')
        ion-nav-view(name='pets-tab')
      // Adopt Tab
      ion-tab(title='Adopt', icon='icon ion-heart', href='#/tab/adopt')
        ion-nav-view(name='adopt-tab')
      // About Tab
      ion-tab(title='About', icon='icon ion-search', href='#/tab/about')
        ion-nav-view(name='about-tab')
